<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Jay Shree Ram </title>
</head>
<body>
	
	<form th:action="@{/saveProduct}"  th:object="${product}"  method="POST">
		<table>
			<tr>
				<td>Product Id:</td>
				<td><input type="text" th:field="*{ptId}" /></td>
			</tr>
			<tr>
				<td>Product Name:</td>
				<td><input type="text" th:field="*{pName}" /></td>
			</tr>
			<tr>
				<td>Product Price:</td>
				<td><input type="text" th:field="*{pPrice}" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="save"/></td>
			</tr>
		</table>

	</form>

</body>
</html>